<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Video:</strong>
  <%= @article.video %>
  <%= video_tag(@article.video, :autoplay =>true, :loop => true) %>

</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
