<!DOCTYPE html>
<html>
  <head>
    <title>WALS偽物語</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- ヘッダー -->
    <header class="navbar navbar-fixed-top navbar-inverse">

      <div class="navbar-header">
            <p class="navbar-brand">LOGO</p>
      </div>
       <nav class="nav navbar-nav navbar-left">
          <ul class="nav navbar-nav navbar-right">
          <span></span>
        <nav>
          <ul>
            <li><%= "商品一覧" %></li>
            <li><%= "会員一覧" %></li>
            <li><%= "注文履歴一覧" %></li>
            <li><%= "ジャンル管理" %></li>
          </ul>

        </nav>



        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
